<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <h1>{{ title }}</h1>

      <div class="jumbotron">
        <form name="searchForm" method="POST" action="">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Search" />
        </form>
      </div>

      <div class="jumbotron">
        <h4>Events:</h4>
        {% for event in events %}
            <div class="row">
              <div class="col-xs-6">
                <strong>title: {{ event.title }}</strong>
              </div>
              <div class="col-xs-3">
                venue: {{ event.venue }}
              </div>
              <div class="col-xs-3">
                time: {{ event.datetime }}
              </div>
            </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
